@font-face {
  font-family: "Greenhouse-Saguaro";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.isaac.run/brand/carattere/Greenhouse-Saguaro.woff2") format("woff2");
}

@font-face {
  font-family: "OtherHand";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.isaac.run/brand/carattere/OtherHand-Medium.woff2") format("woff2");
}

html {
  font-family: "Greenhouse-Saguaro";
  font-size: 1.5em;
  max-width: 600px;
  -webkit-text-stroke: 1px #000;
  background-image: linear-gradient(rgb(255 255 255 / 0.75)), url("/tiger.png");
  background-repeat: repeat;
  background-position: left bottom;
  background-size: 128px;
}

h1 {
  font-weight: normal;
  font-size: 2.5em;
}

h1 + p {
  font-family: inherit;
}
p {
  font-family: "OtherHand";
}
