@font-face {
  font-family: "Aurelis";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.isaac.run/brand/carattere/Aurelis-Regular.woff2") format("woff2");
}

html {
  font-family: "Aurelis";
  max-width: 450px;
  margin-left: 5%;
  font-size: 1.25em;
  line-height: 1.5;
}
