@font-face {
  font-family: "SUSE Mono";
  font-weight: normal;
  font-style: normal;
  src: url("https://cdn.isaac.run/brand/carattere/SUSEMono-Medium.woff2") format("woff2");
}

html {
  font-family: "SUSE Mono";
  background-color: #D2EAF1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.card {
  border: 2px solid black;
  border-radius: 10px;
  box-sizing: border-box;
  flex-basis: 100%;
  overflow: hidden;
  margin: 10px 0;
  padding: 5px;
  word-break: break-all;
}

.even {
  align: right;
}

.odd {
  align: left;
}
