@font-face {
  font-family: "ChiffChaff";
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.isaac.run/brand/carattere/ChiffChaff-Uprising.ttf") format("truetype");
}

html {
  background-color: #2DDFC1;
  color: #092D27;
  text-align: right;
  font-family: "ChiffChaff";
  font-size: 107%;
}

li {
  border-bottom: 1px dashed #092D27;
}

a {
  color: #092D27;
}

hr {
  border-color: #092D27;
}

footer {
  font-family: "TeX Gyre Pagella", "Palatino", "Book Antiqua", "Times New Roman", serif;
  font-size: 95%;
}
