@font-face {
  font-family: "Satoshi";
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
  src: url("https://cdn.isaac.run/brand/fonts/Satoshi-Variable.woff2") format("woff2");
}

:root {
  --isaac-blue: #0E4385;
  --logy-lightblue: rgb(179, 236, 252);
  --isaac-red: #C52947;
  --minimal-background: antiqueWhite;
  --lec-brown: rgb(81, 52, 36);

  --evil-blue: #011222;
  --evil-lightblue: #97C9D7;
  --evil-red: #9D1735;
  --evil-ferrariblue: #85C9FF;
}

::selection {
  background-color: var(--logy-lightblue);
}

html {
  font-family: "Satoshi", "Olympic Sans", "Arial", sans-serif;
  font-size: 1.05em;
  font-feature-settings: "ss02" 1, "ss03" 1;
  text-wrap: pretty;
  background-color: var(--minimal-background);
  color: var(--lec-brown);
}

body {
  max-width: 750px;
  margin-inline: auto;
  padding: 10px;
}

h1 {
  text-decoration-line: underline;
  text-decoration-color: var(--isaac-blue);
  text-decoration-style: solid;
}

h2 {
  text-decoration-line: underline;
  text-decoration-color: var(--isaac-red);
  text-decoration-style: solid;
}

h3 {
  text-decoration-line: underline;
  text-decoration-color: var(--isaac-blue);
  text-decoration-style: double;
}

table {
  border: 1px solid var(--lec-brown);
  margin-inline: auto;
  border-collapse: separate;
  border-radius: 10px;
  border-spacing: 0;
}

td, th {
  border-bottom: 1px solid var(--lec-brown);
  text-align: left;
  padding: 8px;
}

td:first-child {font-feature-settings: "tnum" 1;}
tr:last-child th {border-bottom: 0px;}
tr:hover {background-color: var(--logy-lightblue);}

.btm-row td {
  /* https://stackoverflow.com/a/24268998 "The sorcery of CSS" */
  border-bottom: none;
}

.btm-left {border-radius: 0 0 0 9px;}
.btm-right {border-radius: 0 0 9px 0;}
.top-left {border-radius: 9px 0 0 0;}
.top-right {border-radius: 0 9px 0 0;}
.table {overflow-x: auto;}

p {
  font-weight: 450;
  line-height: 1.5;
  margin-block: 1lh;
}

li {
  font-weight: 450;
}

a {
  color: var(--isaac-red);
}

.clref {text-align: center;}
.clfooter {margin-top: 1lh;}
.climg {
  max-width: 31px;
  display: block;
  margin-inline: auto;
  margin-top: 1em;
  margin-block-end: -1lh;
}
.clmain {
  font-weight: 450;
  margin-block: 1lh;
}

caption {
  margin-top: .5lh;
  margin-left: 5px;
  caption-side: bottom;
  text-align: left;
}

mark {
  background-color: var(--logy-lightblue);
  color: var(--lec-brown);
  font-style: italic;
}

hr {
  border: 1px solid var(--lec-brown);
}

.badges img {
  image-rendering: pixelated;
  width: 88px;
  height: 31px;
  text-decoration: none;
}
.badges {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4px;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: var(--evil-blue);
    color: var(--evil-lightblue);
  }
  hr {
    border: 1px solid var(--evil-lightblue);
  }
  a {color: var(--logy-lightblue);}
  h1,h3 {text-decoration-color: var(--evil-red);}
  h2 {text-decoration-color: var(--evil-ferrariblue);}
  ::selection {color: var(--evil-blue);}
  mark {color: var(--evil-blue);}
  tr:hover {color: var(--evil-blue);}
  table {border: 1px solid var(--evil-ferrariblue);}
  td,th {border-bottom: 1px solid var(--evil-ferrariblue);}
}