@font-face {
  font-family: "Beast";
  font-style: normal;
  font-weight: 400;
  src: url("Beast.woff2");
}

html {
  font-family: Beast;
}

.terms {
  font-family: "Satoshi", "Olympic Sans", "Beast", "Arial", sans-serif;
  position: fixed;
  bottom: 0;
  width: fit-content;
  max-width: 500px;
  margin-inline: auto;
}